{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}

<div class="container" style="margin-top: 20%; margin-bottom: 2%;">
    <img src="../static/logo-full.png" style= "min-width: 300px; max-width: 40%; display: block; margin-left: auto; margin-right: auto;" alt="">
</div>

<form action="{{ url_for('search') }}" method="get">

    <div class="input-group">
        <input class="form-control" name="search_text" placeholder="Search book by title, author or isbn">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Search</button>
       </span>
    </div>

    <label>Search by:</label>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="search_type" id="inlineRadio1" value="title" checked="checked">
        <label class="form-check-label" for="inlineRadio1">Title</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="search_type" id="inlineRadio2" value="author">
        <label class="form-check-label" for="inlineRadio2">Author</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="search_type" id="inlineRadio3" value="isbn">
        <label class="form-check-label" for="inlineRadio3">ISBN</label>
    </div>

</form>

{% endblock %}
