{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}


{% block body %}
    <h1>Search Results</h1>
    <h6>{{ search_results|length }} results for: {{ search_text}}</h6>
        {% for result in search_results %}
            <ul>
                <li><a href="/book/{{result.book_id}}-{{result.title}}">{{ result.title }}</a></li>
                <ul>
                    <li>Author: {{ result.author }}</li>
                    <li>ISBN: {{ result.isbn }}</li>
                    <li>Publication Year: {{ result.publication_year }}</li>
                </ul>
            </ul>   
        {% else %}
            <h2>No results</h2>
        {% endfor %}
{% endblock %}